
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #1D1F20;
  }

.p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    color: white;
    font-family: 'Raleway';
    font-size: 2.5rem;
  }

.pre {
    font-family: monospace;
    background-color: #eee;
    border: solid #999;
    width: 300px;
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #B2ABF2, #89043D, #2FE6DE, #1C3041, #18F2B2);
    background-size: 500% 1000%;
    animation: gradient 15s ease infinite;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 60px;
    border-radius: 15px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}